<div class="ps-2">
  <span (click)="onRatingClicked(1)" [ngClass]="rating >= 1 ? 'star-filled' : 'star-empty'">&#9733;</span>
  <span (click)="onRatingClicked(2)" [ngClass]="rating >= 2 ? 'star-filled' : 'star-empty'">&#9733;</span>
  <span (click)="onRatingClicked(3)" [ngClass]="rating >= 3 ? 'star-filled' : 'star-empty'">&#9733;</span>
  <span (click)="onRatingClicked(4)" [ngClass]="rating >= 4 ? 'star-filled' : 'star-empty'">&#9733;</span>
  <span (click)="onRatingClicked(5)" [ngClass]="rating >= 5 ? 'star-filled' : 'star-empty'">&#9733;</span>
</div>
