video {
  height: 60vh;
  width: 55vw;
  border-radius: 20px;
  object-fit: cover;
  @media screen and (max-width: 992px) {
    width: 85vw;
  }
}

.likes{
  background-color: #e49d6c66;
  border-radius: 30px;
}
