<div class="default-background bg-image">
  <header>
    <app-nav-header></app-nav-header>
  </header>
  <div class="w-80 d-lg-flex align-items-center justify-content-between">
    <div class="m-5 cursive">
      <h1>FoodVilla</h1>
      <h2>Real ingredients real food!!</h2>
      <p class="fs-4">Welcome to FoodVilla – your culinary destination for real ingredients and
        delightful recipes! Explore a curated selection of high-quality, authentic ingredients to elevate
        your cooking experience. From farm-fresh produce to premium spices, we simplify your culinary
        journey. Discover a world where genuine ingredients meet delicious possibilities at FoodVilla!</p>
    </div>
    <div class="d-md-flex d-sm-none justify-content-end pt-5">
      <img src="assets/images/plate.jpg" class="plate">
    </div>
  </div>
  <section class="center">
    <div class="m-5 ps-5">
      <h1 class="text-end cursive fs-60">About us</h1>
      <div class="d-lg-flex flex-lg-row-reverse ">
        <p class="text-end fs-22 cursive pt-3">
          FoodVilla is an online recipe as well as ingredient ordering app that is not only a reference portal but also
          it includes several other features based on inputs that we have gathered from users
          and after hearing what they are
          really looking for in an ideal app. Thus, our main aim is to help a customer not only find a recipe easily but
          at the same time also lets him/ her
          order the ingredients online. As soon as a user browses through any recipe,
          we will immediately throw a pop up listing out all the ingredients and allow a user to place
          an order . A user is given the flexibility of adding deleting from the shopping list that is auto populated.
          This integrated platform helps a
          user to easily order the ingredients without even having to go to a different online site or even physically
          to
          a supermarket to get the ingredients.
        </p>
        <img src="assets/images/chef.png" height="450px" class="br-50">
      </div>
    </div>
  </section>
  <section class="my-5 pt-5 blogs">
    <h2 class="w-100 cursive text-dark m-0">Our blogs</h2>
    <p class="w-100 cursive text-dark fs-60">Latest Blog Posts</p>
    <div class="d-lg-flex justify-content-center align-items-center pt-5">
      <div class="br-40 m-5 bg-white p-3">
        <div class="position-sticky">
          <p class=" fs-20 mt-3 pt-4">
            <sup><i class="bi bi-quote fs-22"></i></sup><i>&nbsp;Indulge your taste buds in a symphony of
            flavors with our latest culinary creation – a mouthwatering fusion of succulent grilled
            chicken, caramelized onions, and a rich truffle-infused aioli. Each bite is a journey
            through a palette of textures and tastes that will leave you craving more. Join us on a
            gastronomic adventure where every dish tells a story, and every flavor is a revelation.
            Elevate your dining experience with our chef's culinary craftsmanship – because good food is
            not just a meal, it's a celebration of the senses!</i>
          </p>
        </div>
      </div>
      <div class="br-40 m-5 bg-white p-3">
        <div class="position-sticky">
          <p class="fs-20 mt-3 pt-4">
            <sup><i class="bi bi-quote fs-22"></i></sup><i>&nbsp;Savor the essence of the Mediterranean with
            our newest culinary
            masterpiece. Our grilled vegetable platter combines the freshness of seasonal produce with a
            zesty herb-infused dressing, creating a symphony of colors and flavors on your plate.
            Whether
            you're a dedicated foodie or simply looking for a wholesome and satisfying meal, this
            vibrant
            dish promises a taste of sunshine in every bite. Join us in celebrating the art of delicious
            simplicity, where each ingredient shines, and every meal feels like a journey to the heart
            of
            culinary delight.</i>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="specialities pt-2 text-center">
    <h2 class="py-3 px-2">
      <i>We Believe In Delivering The Best To Our Customers!</i>
    </h2>
    <div class="d-flex flex-wrap justify-content-center align-items-center pt-5">
      <div class="px-5">
        <img src="assets/images/video-thumbnail.png" class="speciality-img">
        <h3>Recipe Videos</h3>
      </div>
      <div class="special px-5">
        <img src="assets/images/vendors.png" class="speciality-img">
        <h3>Localized Sellers</h3>
      </div>
      <div class="special px-5">
        <img src="assets/images/welcom1.jpg" class="speciality-img">
        <h3>Ingredients</h3>
      </div>
    </div>
    <h1>Our specialities</h1>
  </section>
  <section class="theme-color-2 pt-0">
    <p class="fs-2 fw-600 cursive text-center text-dark mb-0">
      <b>Follow us on </b>
    </p>
    <div class="icon-style center">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter-x"></i>
      <i class="bi bi-instagram"></i>
    </div>
  </section>
</div>
