<div class="center w-100 vh-100 bg-image">
  <div class="box center">
    <div class="login-box">
      <h1 class="text-center">LOGIN</h1>
      <form name=login method="GET" action="">
        <div class="text-box">
          <i class="bi bi-person-circle"></i>
          <input type="text" name=username placeholder="Username">
        </div>
        <div class="text-box">
          <i class="bi bi-person-fill-lock"></i>
          <input type="password" name=t2 placeholder="Password">
        </div>
        <div class="text-box">
          <select name="t3" class="select-style">
            <option value="admin">Admin</option>
            <option value="user">User</option>
            <option value="distributor">Distributor</option>
          </select>
        </div>
        <input
          class="fw-bold w-100 p-2 fs-18 br-8 default-background"
          type="submit" value="LOGIN" name=submit>
        <div class="center">
          <p>
            Not a member yet ?
            <a href="/signup" class="fw-bold text-decoration-none cursor-pointer">
              Sign up
            </a>
        </div>
      </form>
    </div>
  </div>
</div>
