<div class="default-background">
  <header>
    <app-nav-header></app-nav-header>
  </header>
  <div class="w-100">
    <app-search-bar class="center" [items]="products"
                    (filteredItemsChange)="onFilteredItemsChange($event)"></app-search-bar>
  </div>
  <ng-container>
    <app-loader *ngIf="isLoading"></app-loader>
  </ng-container>
  <div class="center flex-wrap mt-4" *ngIf="!isLoading">
    <div *ngIf="filteredProducts.length===0"
         class="cursive fw-600 fs-22 center position-absolute no-product d-flex flex-column">
      <h2>No Product available<i class="bi bi-basket2-fill fs-28 ps-2"></i></h2>
    </div>
    <div *ngFor="let product of filteredProducts" class="m-3 br-8">
      <app-product-widget [product]="product" (click)="viewProduct(product)"></app-product-widget>
    </div>
  </div>
</div>


