<div class="center w-100 vh-100 bg-image">
  <div class="box center">
    <div class="signup-box">
      <h2 class="text-center">REGISTRATION</h2>
      <form name=f action="">
        <div class="text-box">
          <input type="text" name=t1 placeholder="Enter Username" required>
        </div>
        <div class="text-box">
          <input type="text" name=t4 placeholder="Enter Your Location" required>
        </div>
        <div class="text-box">
          <input type="password" name=t2 placeholder="Enter Password" required>
        </div>
        <div class="text-box">
          <input type="password" name=t21 placeholder="Re-Enter Password" required>
        </div>
        <div class="text-box">
          <input type="text" name=t3 placeholder="Enter Email ID" required>
        </div>
        <div class="text-box">
          <input type="text" name=t5 placeholder="Enter Your Phone no." required>
        </div>
        <select name='t6' class="select-style">
          <option value="user">User</option>
          <option value="distributor">Distributor</option>
        </select>
        <input type="submit" value="Submit" name=submit class="fw-bold w-100 p-2 mt-2 fs-18 br-8 default-background">
      </form>
    </div>
  </div>
</div>
