@import '../../styles.scss';

.box {
  @extend .transparent-box;
  width: 360px;
  height: 600px;
}

.bg-image {
  background: url("/assets/images/login10.jpeg") no-repeat;
  background-size: cover;
}

.signup-box {
  width: 280px;
  color: #ebc7af;
}

.error {
  margin: 0 10px;
}
