<div class="default-background">
  <header>
    <app-nav-header [cartCount]="cartCount"></app-nav-header>
  </header>
  <ng-container *ngIf="isLoading">
    <app-loader></app-loader>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <div *ngIf="isError" class="cursive fw-600 fs-22 center position-absolute no-product d-flex flex-column">
      <h2>Product not available<i class="bi bi-basket2-fill fs-28 ps-2"></i></h2>
      <h3 class="fs-20 text-decoration-underline mt-3 cursor-pointer" (click)="goToAllProducts()">
        Browse other products
      </h3>
    </div>
    <div *ngIf="!isError" class="d-flex flex-column flex-lg-row justify-content-lg-evenly">
      <div class="d-flex flex-column justify-content-lg-evenly align-items-center m-5">
        <div>
          <img [src]="product.imageUrl" alt="Product Image" class="product-image">
        </div>
        <div class="product-details">
      <span class="d-flex justify-content-between align-items-center"><h1 class="fw-bold">{{ product.name }}</h1>
        <h2>Price: ${{ product.price }}</h2>
      </span>
          <p>{{ product.description }}</p>
          <button *ngIf="!isInCart" class="add-to-cart-btn" (click)="addToCart(1)">Add to Cart</button>
        </div>
      </div>
      <div
        class="text-center m-3 px-5 pb-5 br-40 block-shadow">
        <h2 class="cursive pt-4">Recommended Recipes</h2>
        <div class="overflow-auto height-without-nav d-flex flex-lg-column align-items-center custom-scrollbar ">
          <p *ngIf="isRecipeLoading">Loading Recipes .....</p>
          <div *ngFor="let recipe of recipes" class="m-3 br-8">
            <app-recipe-widget [recipe]="recipe"></app-recipe-widget>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

