<div class="default-background w-100">
  <header>
    <app-nav-header></app-nav-header>
  </header>
  <div class="p-3">
    <h1 class="cursive text-center w-100">Edit Account Details</h1>
  </div>
  <div class="d-flex justify-content-center position-relative height-without-nav w-100 flex-wrap">
    <div class="br-50 center flex-column theme-color-2 shadow-lg fit-content p-4 circle m-4 slide-in-left">
      <span class="text-muted text-center">
        <i class="bi bi-person-circle fs-40"></i>
        <h3>Username</h3>
      </span>
      <h3>{{userDetails.username}}</h3>
    </div>
    <div
      class="br-50 center flex-column theme-color-2 shadow-lg fit-content p-4 circle text-center m-4 position-relative top-50 slide-in-top">
      <span class="text-muted">
        <i class="bi bi-envelope-at-fill fs-40"></i>
        <h3>Email</h3>
      </span>
      <h3 class="text-break">{{userDetails.email}}</h3>
    </div>
    <div class="br-50 center flex-column theme-color-2 shadow-lg fit-content p-4 circle m-4 slide-in-right ">
      <span class="text-muted text-center">
        <i class="bi bi-geo-alt fs-40"></i>
        <h3>Address</h3>
      </span>
      <h3 class="text-break text-center">{{userDetails.address}}</h3>
    </div>
  </div>
</div>
